#!/usr/bin/env python3
PACKAGE = "barracuda_vision"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Tambahkan parameter yang dapat diubah secara dinamis
#gen.add("nama_parameter", tipe_parameter, level, deskripsi, default, min, max)
#:int_t, double_t, str_t, bool_t
gen.add("exposure_val", bool_t, 0, "Exposure parameter", True)
gen.add("blur_val", int_t, 0, "Blur parameter ganjil", 1, 1, 25)
gen.add("offset_W", int_t, 0, "Offset W Parameter Cam", 0, 0, 640)
gen.add("offset_H", int_t, 0, "Offset H Parameter Cam", 0, 0, 480)
gen.add("Hue_min", int_t, 0, "Hue min Parameter", 0, 0, 255)
gen.add("Hue_max", int_t, 0, "Hue max Parameter", 0, 0, 255)
gen.add("Sat_min", int_t, 0, "Sat min Parameter", 0, 0, 255)
gen.add("Sat_max", int_t, 0, "Sat max Parameter", 0, 0, 255)
gen.add("Val_min", int_t, 0, "Val min Parameter", 0, 0, 255)
gen.add("Val_max", int_t, 0, "Val max Parameter", 0, 0, 255)

gen.add("line_detect", bool_t, 0, "Line enable parameter", True)
gen.add("Hue_min_line", int_t, 0, "Hue min Line Parameter", 0, 0, 255)
gen.add("Hue_max_line", int_t, 0, "Hue max Line Parameter", 0, 0, 255)
gen.add("Sat_min_line", int_t, 0, "Sat min Line Parameter", 0, 0, 255)
gen.add("Sat_max_line", int_t, 0, "Sat max Line Parameter", 0, 0, 255)
gen.add("Val_min_line", int_t, 0, "Val min Line Parameter", 0, 0, 255)
gen.add("Val_max_line", int_t, 0, "Val max Line Parameter", 0, 0, 255)

gen.add("slopeToggle", bool_t, 0, "Slope enable parameter", True)
gen.add("line_v1", int_t, 0, "Slope Line Vertical1 Parameter", 0, -255, 255)
gen.add("line_v2", int_t, 0, "Slope Line Vertical2 Parameter", 0, -255, 255)
gen.add("length_v", int_t, 0, "Panjang Line Vertical Parameter", 0, -255, 255)
gen.add("line_h1", int_t, 0, "Slope Line Horizontal1 Parameter", 0, -255, 255)
gen.add("line_h2", int_t, 0, "Slope Line HOrizontal2 Parameter", 0, -255, 255)
gen.add("length_h", int_t, 0, "Panjang Line Horizontal Parameter", 0, -255, 255)
gen.add("slopeLine", int_t, 0, "Gradien Parameter", 0, -255, 255)

gen.add("dummyToggle", bool_t, 0, "dummy enable parameter", True)
gen.add("Hue_min_dummy", int_t, 0, "Hue min dummy Parameter", 0, 0, 255)
gen.add("Hue_max_dummy", int_t, 0, "Hue max dummy Parameter", 0, 0, 255)
gen.add("Sat_min_dummy", int_t, 0, "Sat min dummy Parameter", 0, 0, 255)
gen.add("Sat_max_dummy", int_t, 0, "Sat max dummy Parameter", 0, 0, 255)
gen.add("Val_min_dummy", int_t, 0, "Val min dummy Parameter", 0, 0, 255)
gen.add("Val_max_dummy", int_t, 0, "Val max dummy Parameter", 0, 0, 255)
gen.add("crop_side_dummy", int_t, 0, "Crop sisi dummy Parameter", 0, 0, 255)
gen.add("crop_top_dummy", int_t, 0, "Crop atas dummy Parameter", 0, 0, 255)
gen.add("crop_bottom_dummy", int_t, 0, "Crop bawah dummy Parameter", 0, 0, 255)


# Generate file konfigurasi
exit(gen.generate(PACKAGE, "barracuda_vision", "omni_param"))